* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', monospace;  /* 영수증 폰트! */
    background-color: #2c2c2c;  /* 어두운 배경 */
    padding: 20px;
}

input {
    font-size: 20px;
    padding: 20px;
}

button {
    width: 35%;
    min-width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent; /* 클릭 시 색상 제거 */
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease; /* 색상/테두리 변화를 부드럽게 */
}

/* 클릭된 버튼 스타일 */
button.selected {
    border-color: #007aff;       /* 파란 테두리 */
    background-color: #e6f0ff;   /* 배경 강조 */
    color: #007aff;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    margin: 0 auto;
    background-color: #f9f9f9;  /* 약간 누런 종이 느낌 */
    padding: 30px 20px;
    border: 1px dashed #999;  /* 점선 테두리 */
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.result {
    font-weight: bold;
}